.task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.task-input {
    width: 100%;
    max-width: 600px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}
.task-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.25);
}

.task-input::placeholder {
    color: #999;
    opacity: 1;
}

.task-input:hover {
    border-color: #0056b3;
    transition: border-color 0.3s ease,
    box-shadow 0.3s ease;
}
.task-button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    /* Цвет фона */
    color: white;
    /* Цвет текста */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.task-button:hover {
    background-color: #0056b3;
}

.task-button:focus {
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}


